# Dependencies
node_modules/
/.pnp
.pnp.js
package-lock.json
yarn.lock

# Testing
/coverage

# Production
/build
/.next
/out

# But keep images
!src/assets/images/

# Environment files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# IDE and Editor files
.idea/
.vscode/
*.swp
*.swo
.DS_Store
Thumbs.db

# Cache directories
.cache/
.temp/
.tmp/

# System Files
*.log
*.bak
*.tmp

# Optional: Database files
*.sqlite
*.db

# Optional: Media and large files
*.mp4
*.tiff
*.avi
*.flv
*.mov
*.wmv
